@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

:root {

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #3639AE;
    --secondary: #673BB7;
    --success: #10d876;
    --info: #2754e6;
    --warning: #FE9431;
    --danger: #E50202;
    --light: #F8F9FE;
    --dark: #262F5A;
}
/*Configuraciones generales */
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    /* border:solid; */
}

/* p titulos menores*/
.small-title {
    font-size: 1.2rem;
    color: #121158;
    font-weight:600;
}

/* h1 titulo grande*/
.big-title {
    font-size: 3rem;
    color: #293f73;
    font-weight: 600;
}

.content-title {
    font-size: 1.5rem;
    color: #121158;
    font-weight: 600;
}

.content-base {
    font-size: 1rem;
    color: #121158;
    font-weight: 300;
}

.card-img-top {
    height: 100px;
    
}
/*Fin configuraciones generales*/


/* logo and nav styles */
.homelogo{
    padding-left: 90px;
    font-size: 23px;
}
.logonav{
    display: flex;
    align-items: center
}

.header{
    color: var(--white);
    padding-top: 5px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    box-shadow: 5px 5px 10px -3px#00000010;
    z-index: 1;
    display: flex;
    align-items:center;
}

.navbar ul{
    text-decoration: none;
    padding-right: 75px;
    padding-left: 75px;
    list-style: none;
    font-size: 16px;
    display: flex;
    align-items:center;
}

.navbar ul li{
    margin-left: 35px;  
    margin-right: 20px;
}
.navbar ul li a{
    text-decoration:none;
    color: var(--white);
    display: flex;
    align-items: flex-end;
}

.tracker{
    background-color: #0063b1;
    display: block;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    font-size: 15px;
    overflow: hidden;
    transition: all 500ms ease;
    border: solid transparent;
    align-items: center;
}

.tracker a{
    color: var(--white);
    text-decoration: none;
}
/* FIN logo and nav styles */

/* home section styles */
.home{
    background-image: url("../images/gb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex; 
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}


.home_div1{
    margin-left: 90px;
    margin-top: 90px;
}

.home_h1{
    font-size:60px;
    color: var(--white);
}

.home_p{
    color: var(--white);
}

.home_contador{
    background-color: var(--white);
    width: 350px;
    height: 70px;
    border-radius: 0.5rem;
}

.home_p2{
    color:red;
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    margin-right: 10px;
}

.home_img{
    height:550px;
}

.home_div2{
    position: relative;
    
    padding-top: 70px;
    padding-right: 150px;
    
}
/* FIN home section styles */

/* symptom section styles */
.symptom {
    background: aliceblue;
    padding: 1%;
}

/* FIN sympton section styles */

/* phone section styles */
.Cellphone{
    display: grid;
    align-items: center;
    /*display: grid;*/
    justify-content: center;
    height: 80vh;
}


.phone_container{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(min(100%,30rem), 1fr));
    /*grid-template-columns: 1fr 1fr;*/
    height: 90%;
    background: linear-gradient(to right, darkblue,#20bdff);
    grid-gap: 1rem;
    width: 90vw;
    border-radius: 1rem;
}


.phone_div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    padding-left: 5rem;
}

.phone_h2{
    font-size: 3rem;
    color: white;
}
.phone_p{
    font-size: 1.2rem;
}


.phone_figura{
    position: relative;
}

.phoneimage{
    position: absolute;
    top:-3rem;
    left:50%;
    transform: translate(-50%, 0); 
    width: 14rem;
    height: 26rem;
 }


@media (max-width: 576px) {
    .header{
        left: -3.5rem;
        display: flex;
        justify-content:center;
        margin-left: 10rem;
    }
    .iconolog{
        height:1rem;
    }
    .logonav{
        display: flex;
    }
    .homelogo{
        font-size: 0.8rem;
        margin-right: -2rem;
    }
    .navbar ul{
        font-size: 0.6rem;
        padding: 0px 0px 0px;
        margin-left: 2rem;
    }
    .home{
        display: grid;
        background-size: 100rem;
        height: 90rem repeat;

    }
    .home_h1{
        font-size: 2rem;
    }
    .home_p{
        font-size: 1rem;

    }
    .home_contador{
        width: 140px;
        height: 30px;
        border-radius:0.2rem;
        line-height: 1.5rem;
    }
    .home_p2{
        font-size: 0.5rem;
        display: flex;
        justify-content: flex-start;
    }
    .home_img{
        height: 130px;
        width: 130px;
        position: relative;
        top: -20rem;
        left: 6rem;
        
    }

    .phone_h2{
        font-size: 1.4rem;
    }
    .phone_p{
        font-size: 1rem;
    }
    .phoneimage{
        width: 9rem;
        height: 18rem;
    }
    
}

 /*FIN phone section styles */



/*Seccion prevent*/

.prevent{
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prevent-title{
    text-align: center;
  
}

.prevent-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,30rem), 1fr));
    column-gap: 1em;
    row-gap: 1em;
    
}


.prevent-block{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(min(100%,15rem), 1fr));
    align-items: center;
    justify-content: center;
    
}

.prevent-block p{
    /*Fuentes*/
}

.prevent-figure{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
}

.prevent-hexagon img{
    position: absolute;
    z-index: 1;
    height: 6em;
    width: 6em;
    text-align: center;
    
}

.prevent-hexagon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.4em;
    width: 9em;
    background-color: gray;
    border-radius: 0.4em;
}

.prevent-hexagon::before{
    position: absolute;
    content: "";
    background: inherit;
    transform: rotate(-60deg);
    transform-origin: 50% 50%;
    border-radius: 0.4em;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
}

.prevent-hexagon::after{
    position: absolute;
    content: "";
    background: inherit;
    transform: rotate(60deg);
    transform-origin: 50% 50%;
    border-radius: 0.4em;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
}
/*FIN Seccion prevent*/

/*Seccion spreads*/
.spreads{
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spreads-title{
    text-align: center;
    font-family: var(--font-3);
}

.spreads-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,20rem), 1fr));
    column-gap: 2em;
    row-gap: 2em;
}


.spreads-block{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(min(100%,30rem), 1fr));
    align-items: center;
    justify-content: center;
}

.spreads-block p{
    /*Fuentes*/
}
.spreads-block >div{
    border-radius: 0 0 1em 1em;
}

.spreads-figure{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.spreads-figure img{
    width: 100%;
    border-radius: 1em 1em 0 0;
}
/*Seccion spreads*/

/* seccion faqs */
.Faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    background-image: url("../images/slide-1.jpg");
    padding: 3rem 0;
}
.Faqs::after{
    position: absolute;
    left: 0px;
    top: 0px;
    content: "";
    background-image:  linear-gradient(to right, rgb(30, 12, 157), rgb(6,205,236)), url("../images/slide-1.jpg");
    width: 100%;
    height: 100%;
    opacity: .95;
}

.Faqs-title{
    text-align: center;
    font-family: var(--font-3);
    z-index: 1;
    color: var(--white);
}

.Faqs-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,30rem), 1fr));
    column-gap: 2em;
    row-gap: 2em;
}

.Faqs-container{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(min(100%,30rem), 1fr));
    row-gap: 1rem;
}

.Faqs-block{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(min(100%,30rem), 1fr));
    align-items: center;
    justify-content: center;
    background: rgba(30, 12, 157, 0.5);
    border: 1px rgba(255, 255, 255, 0.2) solid;
    border-radius: 1rem;
    color: var(--white);
    height: auto;
    column-gap: 3rem;
    z-index: 1;
}

.Faqs-block h5{
    /*Fuentes*/
    font-weight: bold;
    
}

.Faqs-block a{
    color: var(--white);
    text-decoration: none;
}

.Faqs-active{
    display: none;
}

/* FIN seccion faqs */

/* section news styles*/

.info-news {
    
    list-style: none;
}

.info-news ul{
    padding-left: 0;
}

.info-news li{
    float: left;    
}

.info-news a{
    display: block;
    padding: 20px;
    color: gray;
    font-size: 0.9rem;
    text-decoration: none;
}

/* FIN section news styles*/

/* section footer styles*/

.footer{
    background: #1b2a4e;
}
.up-footer{
    background: #1b2a4e;
    padding: 3%;
}

.up-footer p{
    font-size: 14px;
    line-height: 30px;
    color: #8686b5;
}
.up-footer ul{
    padding-left: 0;
    
}
.social-icon li{
    margin-right: .5rem;    
    background-color: #293f73;
    color: white;
    list-style: none;
    display: inline-block;
    width: 40px;
    height: 40px;    
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
}
.list-footer li{
    list-style: none;
    line-height: 40px;
}

.list-footer h4 {
    color: white
}

.list-footer a {
    font-size: 14px;
    color: #8686b5;
    text-decoration: none;
    
}

.down-footer{
    border-top: 1px solid #223461;
    background: #1b2a4e;
    
}

.down-footer p{
    font-size: 14px;
    line-height: 30px;
    color: #8686b5;
}

.desing {
    float: right;
}

.desing a {
    color: white;
    text-decoration: none;
}



/* FIN section footer styles*/

/* Media query del nabvar*/

@media (max-width: 640px) {
    .header{
        left: -3.5rem;
        display: flex;
        justify-content:center;
        margin-left: 10rem;
    }
    .iconolog{
        height:1rem;
    }
    .logonav{
        display: flex;
    }
    .homelogo{
        font-size: 0.8rem;
        margin-right: -2rem;
    }
    .navbar ul{
        font-size: 0.6rem;
        padding: 0px 0px 0px;
        margin-left: 2rem;
    }
    .home{
        display: grid;
        background-size: 45rem;

    }
    .home_h1{
        font-size: 1.6rem;
    }
    .home_p{
        font-size: 0.6rem;

    }
    .home_contador{
        width: 200px;
        height: 50px;
        border-radius:0.2rem;
        line-height: 1.5rem;
    }
    .home_p2{
        font-size: 0.5rem;
        display: flex;
        justify-content: flex-end;
    }
    .home_img{
        height: 130px;
        width: 130px;
        position: relative;
        top: -3rem;
        left: 5rem;
        
    }

    
}
/*Fin del media query del nabvar y home*/

